rvl_alias "sclk" "sclk";
RVL_ALIAS "sclk" "imx_capture_inst/clk"; 
RVL_ALIAS "sclk" "imx_capture_inst/clk"; 
RVL_ALIAS "sclk" "imx_capture_inst/clk"; 
RVL_ALIAS "sclk" "imx_capture_inst/clk"; 
RVL_ALIAS "sclk" "imx_capture_inst/clk"; 
RVL_ALIAS "sclk" "imx_capture_inst/clk"; 
RVL_ALIAS "sclk" "imx_capture_inst/clk"; 
RVL_ALIAS "ref_clkin" "ref_clkin"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK JTAGPATHS ;
IOBUF PORT "ref_clkin" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "sys_rstn" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "imx_clkin" SITE "J1" ;
LOCATE COMP "ref_clkin" SITE "L1" ;
FREQUENCY PORT "imx_clkin" 300.000000 MHz ;
FREQUENCY PORT "ref_clkin" 50.000000 MHz ;
IOBUF PORT "imx_clkin" DIFFRESISTOR=100 IO_TYPE=SUBLVDS ;
IOBUF PORT "imx_din[0]" DIFFRESISTOR=100 IO_TYPE=SUBLVDS ;
IOBUF PORT "imx_din[1]" DIFFRESISTOR=100 IO_TYPE=SUBLVDS ;
IOBUF PORT "imx_din[2]" DIFFRESISTOR=100 IO_TYPE=SUBLVDS ;
IOBUF PORT "imx_din[3]" DIFFRESISTOR=100 IO_TYPE=SUBLVDS ;
IOBUF PORT "imx_din[4]" DIFFRESISTOR=100 IO_TYPE=SUBLVDS ;
IOBUF PORT "imx_din[5]" DIFFRESISTOR=100 IO_TYPE=SUBLVDS ;
IOBUF PORT "imx_din[6]" DIFFRESISTOR=100 IO_TYPE=SUBLVDS ;
IOBUF PORT "imx_din[7]" DIFFRESISTOR=100 IO_TYPE=SUBLVDS ;
IOBUF PORT "imx_hsync_in" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "imx_vsync_in" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
LOCATE COMP "imx_hsync_in" SITE "J3" ;
LOCATE COMP "imx_vsync_in" SITE "K3" ;
IOBUF PORT "hsync" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_tft[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_tft[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_tft[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_tft[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_tft[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_tft[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_tft[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_tft[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_tft[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_tft[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_tft[10]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_tft[11]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_tft[12]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_tft[13]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_tft[14]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_tft[15]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_tft[16]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_tft[17]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_tft[18]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_tft[19]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_tft[20]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_tft[21]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_tft[22]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_tft[23]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "tft_bl" IO_TYPE=LVCMOS33 ;
IOBUF PORT "tft_clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "tft_de" IO_TYPE=LVCMOS33 ;
IOBUF PORT "vsync" IO_TYPE=LVCMOS33 ;
LOCATE COMP "hsync" SITE "M6" ;
LOCATE COMP "vsync" SITE "N6" ;
LOCATE COMP "tft_de" SITE "P6" ;
LOCATE COMP "tft_clk" SITE "M5" ;
LOCATE COMP "tft_bl" SITE "N5" ;
LOCATE COMP "rgb_tft[0]" SITE "M1" ;
LOCATE COMP "rgb_tft[1]" SITE "M2" ;
LOCATE COMP "rgb_tft[2]" SITE "K4" ;
LOCATE COMP "rgb_tft[3]" SITE "K5" ;
LOCATE COMP "rgb_tft[4]" SITE "L4" ;
LOCATE COMP "rgb_tft[5]" SITE "L5" ;
LOCATE COMP "rgb_tft[6]" SITE "N1" ;
LOCATE COMP "rgb_tft[7]" SITE "P2" ;
LOCATE COMP "rgb_tft[8]" SITE "L3" ;
LOCATE COMP "rgb_tft[9]" SITE "M3" ;
LOCATE COMP "rgb_tft[10]" SITE "P1" ;
LOCATE COMP "rgb_tft[11]" SITE "R1" ;
LOCATE COMP "rgb_tft[12]" SITE "M4" ;
LOCATE COMP "rgb_tft[13]" SITE "N3" ;
LOCATE COMP "rgb_tft[14]" SITE "N4" ;
LOCATE COMP "rgb_tft[15]" SITE "P3" ;
LOCATE COMP "rgb_tft[16]" SITE "R2" ;
LOCATE COMP "rgb_tft[17]" SITE "T2" ;
LOCATE COMP "rgb_tft[18]" SITE "P4" ;
LOCATE COMP "rgb_tft[19]" SITE "R3" ;
LOCATE COMP "rgb_tft[20]" SITE "R4" ;
LOCATE COMP "rgb_tft[21]" SITE "T3" ;
LOCATE COMP "rgb_tft[22]" SITE "R5" ;
LOCATE COMP "rgb_tft[23]" SITE "T4" ;
LOCATE COMP "imx_din[0]" SITE "D1" ;
LOCATE COMP "imx_din[1]" SITE "E3" ;
LOCATE COMP "imx_din[2]" SITE "F4" ;
LOCATE COMP "imx_din[3]" SITE "C1" ;
LOCATE COMP "imx_din[4]" SITE "G5" ;
LOCATE COMP "imx_din[5]" SITE "C3" ;
LOCATE COMP "imx_din[6]" SITE "F2" ;
LOCATE COMP "imx_din[7]" SITE "B1" ;
